body {
  font-family: new-spirit, serif;
  font-style: normal;
  font-weight: 300;
  color: navy;
}
img {
  height: 100%;
  width: 100%;
}

.title-logo {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.row1 {
  display: flex;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-family: new-spirit, serif;
  font-size: 43px;
  color: #5b715b;
}

svg{
  color: #b3a1a1;
}

.image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}
